<%- include('partials/header') %>


<div class="jumbotron centered overskrift">
  <div class="container">
    
    <h1 class="display-3 ">Passport.JS</h1>
    <p class="lead">Log in or Sign up to read more about this.. please></this>
    </p>
    <hr class="page">
    <a class="btn btn-light btn-lg" href="/register" role="button">Registrering</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Pålogging</a>

  </div>
</div>

<%- include('partials/footer') %>
